@model IEnumerable<ProductManagement_Lab_PRN292.Models.RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1> <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role Mangagement</a></h1>

<p>
    <a asp-action="Create">Create New Role</a>
</p>
@*<form action="/User/Index/" method="get">
    <input type="submit" value="Set Role for Users" />
</form>*@
@*<p> <a class="nav-link text-dark" asp-area="" asp-controller="UserManage" asp-action="UsersWithRoles">Set Role For User</a></p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
