@model ProductManagement_Lab_PRN292.Models.ListProductByCategoryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1> <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a></h1>
<p>
    <a asp-action="Create">Create New Product</a>
</p>
<div class="my-4 row">
    <form asp-controller="Product" asp-action="Index" method="post">
        <p>

            <select asp-for="ProductCategory" asp-items="Model.Categories">
                <option value="all">All</option>
            </select>

            Product Name: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    @*<div class="float-right" row col-md-4>
    <form asp-controller="Product" asp-action="Index" method="get">
    <p>
    <input type="text" name="SearchString" placeholder="Product Name" />
    <input type="submit" value="Filter" />
    </p>
    </form>
    </div>*@
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Photo)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category.CategoryName)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)&#8363
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <img src="~/images/@item.Photo" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
